.header__formulario{
  background-color: var(--color__header);
  padding: 15px;
  width: 20%;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  display: flex;
  position: relative;
  margin-left: 5px;
}
.header__content{
 display: flex;
 align-items: center;
 width: 20%;
}
.header__anterior{
  width: 40px;
  color: var(--color__negro);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.header__anterior-link{
  text-decoration: none;
}
.header__anterior-link__text{
  font-size: 15px;
}

.contenedor__formulario{
  margin: 0 auto;
  width: 25vw;
  height: 50vh;
  margin-top: 5vw;
  border-radius: 40px;
  background-color: var(--color__blanco-hueso);
}
.formulario__elements{
  display: flex;
  justify-content: center;
  margin: 2vw;
}

.formulario__title{
 font-weight: 500;

}
.element__circule{
  margin-right: 1vw;
  margin-left: 1vw;
}
.formulario__elements-text{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.elemento__texto{
  font-size: 25px;
  font-style: italic;
  margin: 1vw;
}
.elemento__seleccion{
  width: 7vw;
  height: 2vw;
  font-weight: 600;
  border-radius: 20px;
  border: none;
}
.contendor__inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 45px;
}
.input__entrada{
  align-items: center;
  font-size: 15px;
  flex-direction: column;
  margin: 1vw;
 padding: 5px;
 font-style: italic;
}
.caja__input{
  width: 150px;
  height: 28px;
  border-radius: 10px;
  border: none;
  display: flex;
  margin-top: 1px;
  margin-bottom: 1vw;  
}
.content__buton{
  width: 20%;
  margin: 0 auto;
}
.Buton__entrar{
 width: 6vw;
 height: 40px;
 border: none;
 border-radius: 20px;
 font-size: 1rem;
}
.Buton__entrar:hover{
  background-color: var(--color__header);
}
.content__footer__form{
  display: grid;
  grid-template-columns: 500px 500px ;
  
}