.header{
  background-color: #666666;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
}
.header__contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.header__icono{
 width: 135px;
 height: 109px;
 top: 0;
}

.header__icono:hover{
  background-color:#797777 ;
}
.header__icono-text{
  margin-left: 10px;
  margin-right: 200px;
}
.header__text{
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  

}
a{
  color: #77CBDA;
  text-decoration: none;
}
.header__texto:hover{
  background-color: #797777;
}

.icono{
  color: white;
}




