@import url(/CSS/root.css);
@import url(/CSS/header.css);
@import url(/CSS/formulario_Principal.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  display: grid;
  grid-template-rows: 125px 1fr;
  background-color: hsla(200, 30%, 40%, 0.20);
  grid-template-areas: 
  "header header"
   "contenido"
   "pie pie ";
   height: 100vh;
   
}

